{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "tailwindAttributes": ["className", "/data-.*/"],
  "tailwindFunctions": ["clsx"],
  "tailwindPreserveDuplicates": true
}
